{% extends "base.html" %}

{% block content %}
    <h1>Nieuwe check-in</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=150) }}<br>
            {% for error in form.id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.availability.label }}<br>
            {{ form.availability(size=150) }}<br>
            {% for error in form.availability.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}