{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}{{ title }} - {% endif %}STAS
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <button class="navbar-toggle collapsed" type=""button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">STAS</a>
      </div>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav">
          {% if not current_user.is_anonymous %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('login.users') }}">{{ 'Gebruikersoverzicht' }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('login.locations') }}">{{ 'Locatieoverzicht' }}</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('login.logout') }}">{{ 'Logout' }}</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login.login') }}">{{ 'Login' }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ title }}</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul id="messages">
          {% for message in messages %}
            <li id="message">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="app-content">
      {% block app_content %}{% endblock %}
    </div>
  </div>
{% endblock %}
